nav {
    background-color: aliceblue;
    width: auto;
}

nav > li {
    list-style: none;
    color: black;
}

nav > li > a {
    text-decoration: none;
}

nav > li > a:hover {
    color: aquamarine;
}

h2 {
    text-align: center;
}

.welcome {
    color: aliceblue;
}

main {
    background: url(/images/mainbackground.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    width: auto;
    padding: 150px;
}

.order-container {
    background-color: azure;
    padding: 5px;
}

.items-container, .about, .contact-container, .newsletter, footer {
    display: flex;

}

.items {
    width: 270px;
    height: auto;
    padding: 10px;
    border: solid 2px #8c8c8c;
    margin: 5px;
}

.mini-desserts, .bon-bons {
    max-width: 100%;
    height: auto;
}

.about {
    
}

.about-sections {
    padding: 5px;
}

.contact-container {
    background-color: aqua;
}

.newsletter {
    flex-direction: column;
}