nav {
    background-color: aliceblue;
    width: auto;
}

nav > li {
    list-style: none;
    color: black;
}

nav > li > a {
    text-decoration: none;
}

nav > li > a:hover {
    color: aquamarine;
}

main {
    background-image: url(/images/mainbackground.jpg);
    width: auto;
    padding: 100px;
}

.mini-desserts {

}